In [1]:
add = lambda a,b:a+b
type(add)
print(add(3,6))

9

lamda functions: any number of arguments but limited to only one expression

In [3]:
#even or odd

even_odd = lambda num:num%2==0
print(even_odd(12))

True

In [9]:
#lambda with map
nums = [2,3,4,6,7]
print(map(lambda x:x**2,nums))
list(map(lambda x:x**2,nums))

<map object at 0x000001AD3EA24880>

[4, 9, 16, 36, 49]

map: applies a given function to all the items in an input list (or any other iterable).

In [11]:
num1 = [2,5,6]
num2 = [4,5,6]

adding = list(map(lambda x,y:x+y,num1,num2))
adding

[6, 10, 12]

In [14]:
str_numbers = ['1','2','3','4']
int_numbers = list(map(int,str_numbers))
print(type(int_numbers[0]))
int_numbers

<class 'int'>

[1, 2, 3, 4]

In [17]:
def get_name(persons):
    return persons['name'],persons['age']

people = [
    {'name':'Shobhan','age':26},
    {'name':'Soumyadeep','age':22}
]

name1= list(map(get_name,people))
name1

[('Shobhan', 26), ('Soumyadeep', 22)]

In [19]:
fruits_lower = ['apple','oranges','chiku']
fruits_upper = list(map(str.upper,fruits_lower))
fruits_upper

['APPLE', 'ORANGES', 'CHIKU']